body{
    background-image: url(../imagens/JoJo\'s_Bizarre_Adventure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.texto{
    text-align: center;
}

#fundo{
    background-color: black;
    width: 90%;
    opacity: 0.8;
}

#h1 {
    text-align: center;
}

#h2 {
    text-align: center;
}

#h3 {
    text-align: center;
}

#h4 {
    text-align: center;
}

#h5 {
    text-align: center;
}

#h6 {
    text-align: center;
}


#div1 {
    border: 1px solid grey;
    overflow: auto;
}

#img1 {
    float: left;
}

#img2 {
     float: right;
}

#img3 {
      float: left ;
}

#img4 {
       float: right;
}

#img5 {
        float: left;
}

#img6 {
    float: right;
}





li {

    float: left;
    list-style: none;
    padding: 10px;
    background-color: red;
    color: black;
    margin: 5px;
    text-align: left;
    margin-top: -25px;
    

}